@import url("/pico.css");
@import url("/pico.colors.css");

#spinner {
    visibility: hidden;
    text-align: right;
}

#spinner.htmx-request {
    visibility: visible;
}

[data-level=warning] {
    color: var(--pico-color-yellow-100);
}

[data-level=error] {
    color: var(--pico-color-pumpkin-300);
}

[data-level=fatal] {
    color: var(--pico-color-pink-500);
}

[data-level=info] {
    color: var(--pico-color-azure-500);
}

.prop {
    margin: 2px;
}

.label {
    display: inline-block;
    min-width: 128px;
}

small.secondary {
    color: var(--pico-secondary);
}

.help {
    color: var(--pico-secondary);
    font-size: 0.8em;
    font-style: italic;
}
